<footer>
  <div class="footer">
    <nav
      class="navbar fixed-bottom position-fixed navbar-expand-lg navbar-dark bg-danger"
    >
      <a class="mx-auto"
        >copyright 2020 | &copy;amaquena &copy;ktrout &copy;svan-nie</a
      >
    </nav>
  </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/socketHandler.js"></script>
