<footer>
    <div class="footer">
        <nav class="navbar fixed-bottom position-fixed navbar-expand-lg navbar-dark bg-danger">
            <a class="mx-auto">copyright 2020 | &copy;amaquena, &copy;ktrout</a>
        </nav>
    </div>
</footer>
