<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand mr-5" href="/">
        <img src="/img/logoo.png" width="200" height="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item mr-5">
                <a class="nav-link" href="/users/login"><div style="font-size: 20px;">Sign-In</div></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register"><div style="font-size: 20px;">Sign-Up</div></a>
            </li>
        </ul>
    </div>
</nav>