<h5>Enter email address:</h5>
<%- include ('./partials/messages'); -%>
<form action="/users/forgotPwd" method="POST">
<input type="email" name="email" placeholder="email">
<button type="submit">Send</button>
</form>