.form-signup
{
    width: 100%;
    max-width: 1030px;
    padding: 15px;
    margin: auto;
}

.form-signin
{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.container-marketing {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #C7444A;*/
}
.container {
    margin-bottom: 50px;
}

.cap {
    text-transform: capitalize;
}
