<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<br>
<h2 class="text-danger text-center cap">Welcome <% if (typeof name != 'undefined') {%> <%= name %> <% } %></h2>
<h4 class="text-center">Please complete your extended profile to gain full access to the website</h4>
<br>
<form action="/users/extendedProfile" method="POST" enctype="multipart/form-data">
<div class="form-group">
    <label for="inputfile">Upload a Profile Picture</label>
    <input type="file" name="profileImage" class="form-control-file" id="inputfile" aria-describedby="fileHelp" required="required">
    <small id="fileHelp" class="form-text text-muted">A profile picture is required to gain full access to the website</small>
</div>
    <div class="form-group row">
        <label class="col-4">Gender</label>
        <div class="col-8">
            <div class="custom-control custom-radio custom-control-inline">
                <input name="gender" id="gender_0" type="radio" class="custom-control-input" value="male" required="required">
                <label for="gender_0" class="custom-control-label">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input name="gender" id="gender_1" type="radio" class="custom-control-input" value="female" required="required">
                <label for="gender_1" class="custom-control-label">Female</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="birthdate" class="col-4 col-form-label">Birthdate</label>
        <div class="col-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-birthday-cake"></i>
                    </div>
                </div>
                <input id="birthdate" name="birthdate" placeholder="DD/MM/YYYY" type="date" class="form-control" required="required">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="age_preference" class="col-4 col-form-label">Age Preference</label>
        <div class="col-8">
            <select id="age_preference" name="age_preference" class="custom-select" required="required">
                <option value="age1">18-24</option>
                <option value="age2">25-31</option>
                <option value="age3">32-38</option>
                <option value="age4">39-45</option>
                <option value="age5">46-52</option>
                <option value="age6">53-59</option>
                <option value="age7">60-66</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="sex_pref" class="col-4 col-form-label">Sexual Preference</label>
        <div class="col-8">
            <select id="sex_pref" name="sex_pref" required="required" class="custom-select">
                <option value="male">Men</option>
                <option value="female">Women</option>
                <option value="both">Both</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="bio" class="col-4 col-form-label">Bio</label>
        <div class="col-8">
            <textarea id="bio" name="bio" cols="40" rows="5" class="form-control" aria-describedby="bioHelpBlock" required="required"></textarea>
            <span id="bioHelpBlock" class="form-text text-muted">Tell us about yourself in 5 lines or less</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4">Interests</label>
        <div class="col-8 options">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_0" type="checkbox" class="custom-control-input" onclick="return maxSel()" value="gaming" required="required" aria-describedby="interestsHelpBlock">
                <label for="interests_0" class="custom-control-label">#gaming</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_1" type="checkbox" class="custom-control-input" onclick="return maxSel()" value="coding" required="required" aria-describedby="interestsHelpBlock">
                <label for="interests_1" class="custom-control-label">#coding</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_2" type="checkbox" class="custom-control-input" onclick="return maxSel()" value="love" required="required" aria-describedby="interestsHelpBlock">
                <label for="interests_2" class="custom-control-label">#love</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_3" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="family" aria-describedby="interestsHelpBlock">
                <label for="interests_3" class="custom-control-label">#family</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_4" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="friends" aria-describedby="interestsHelpBlock">
                <label for="interests_4" class="custom-control-label">#friends</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_5" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="geek" aria-describedby="interestsHelpBlock">
                <label for="interests_5" class="custom-control-label">#geek</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_6" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="exercise" aria-describedby="interestsHelpBlock">
                <label for="interests_6" class="custom-control-label">#exercise</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_7" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="photography" aria-describedby="interestsHelpBlock">
                <label for="interests_7" class="custom-control-label">#photography</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_8" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="traveling" aria-describedby="interestsHelpBlock">
                <label for="interests_8" class="custom-control-label">#traveling</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_9" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="cooking" aria-describedby="interestsHelpBlock">
                <label for="interests_9" class="custom-control-label">#cooking</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_10" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="pets" aria-describedby="interestsHelpBlock">
                <label for="interests_10" class="custom-control-label">#pets</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input name="interests" id="interests_11" type="checkbox" required="required" class="custom-control-input" onclick="return maxSel()" value="sport" aria-describedby="interestsHelpBlock">
                <label for="interests_11" class="custom-control-label">#sport</label>
            </div>
            <div>
                <span id="notvalid" style="color: orangered"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-danger bg-danger">Submit</button>
        </div>
    </div>
    <input type="text" name="country" id="country" hidden>
    <input type="text" name="province" id="province" hidden>
    <input type="text" name="city" id="city" hidden>
    <input type="text" name="lat" id="lat" hidden>
    <input type="text" name="long" id="long" hidden>
    <input type="text" name="gender2" value="both" hidden>
</form>
<script type="text/javascript">
    function maxSel(){
        var box = document.getElementsByName('interests');
        var i = 0;
        var count;
        for (count = 0; count < box.length; count++){
            if (box[count].checked == true){
                i = i + 1;
            }
        }
        if (i >= 6){
            document.getElementById('notvalid').innerHTML = "You can select a maximum of 5 interests"
            return false;
        }
    }

    $(function(){
        var requiredCheckboxes = $('.options :checkbox[required]');
        requiredCheckboxes.change(function(){
            if(requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
    });

    $.getJSON('https://geolocation-db.com/json/')
         .done (function(location) {
            $('#country').val(location.country_name);
            $('#province').val(location.state);
            $('#city').val(location.city);
            $('#lat').val(location.latitude);
            $('#long').val(location.longitude);
            $('#ip').val(location.IPv4);
         });
</script>