<body class="text-center">
	<form class="form-signin" action="" method="post"><br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img class="mb-4" src="/img/logoo-cropped.png" alt width="90" height="72">
		<h5 class="h5 mb-3 font-weight-normal">Enter your new password</h5>
		<input type="input" name="id" value="<%= id %>" hidden><br>
		<label for="inputPwd" class="sr-only">New Password</label>
		<input type="password" name="password" id="inputPwd" class="form-control" placeholder="New Password" required autofocus autocomplete="off"><br>
		<label for="inputPwdrep" class="sr-only">Repeat Password</label>
		<input type="password" name="pwd_repeat" id="inputPwdrep" class="form-control" placeholder="Repeat Password" required autofocus autocomplete="off"><br>
		<button class="btn btn-lg btn-danger btn-block" type="submit">Change</button>
		<br>
	</form>
	</body>